In [128]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

In [129]:
#loading and importing the data

df = pd.read_csv('Customer.csv')
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount
0,Washington,2763.519279,69,32.0,56274.0,5,1,$384.81
1,Arizona,6979.535903,94,13.0,NaN,42,8,"$1,131.46"
2,Nevada,12887.431650,108,18.0,48767.0,38,2,$566.47
3,California,7645.861827,106,18.0,NaN,65,7,$529.88
4,Washington,2813.692575,73,12.0,43836.0,44,1,$138.13
5,Oregon,8256.297800,69,14.0,62902.0,94,2,$159.38
6,Oregon,5380.898636,67,NaN,55350.0,13,9,$321.60
7,Arizona,7216.100311,101,NaN,NaN,68,4,$363.03
8,Oregon,24127.504020,71,13.0,14072.0,3,2,$511.20
9,Oregon,7388.178085,93,17.0,28812.0,7,8,$425.53
10,California,4738.992022,67,23.0,NaN,5,3,$482.40
11,California,8197.197078,110,27.0,NaN,87,3,$528
12,California,8798.797003,110,9.0,77026.0,82,3,$472.03
13,Arizona,8819.018934,110,23.0,99845.0,25,8,$528
14,California,5384.431665,70,21.0,83689.0,10,8,$307.14
15,Oregon,7463.139377,64,12.0,24599.0,50,2,$42.92
16,Nevada,2566.867823,67,14.0,25049.0,7,1,$454.25
17,California,3945.241604,101,12.0,28855.0,59,1,$647.44
18,Oregon,5710.333115,72,9.0,51148.0,1,7,$308.98
19,California,8162.617053,101,11.0,66140.0,21,3,$484.80
20,Oregon,2872.051273,74,31.0,57749.0,21,1,$355.20
21,Washington,3041.791561,79,8.0,13789.0,49,1,$379.20
22,Arizona,24127.504020,71,13.0,14072.0,3,2,$511.20
23,Nevada,2450.190996,73,4.0,NaN,44,1,$554.38
24,California,2392.107890,61,30.0,17870.0,91,1,$439.20
25,Oregon,5802.065978,72,22.0,97541.0,1,3,$389.19
26,California,3946.372085,111,15.0,NaN,47,1,$799.20
27,Washington,5346.916576,139,33.0,10511.0,64,1,$516.24
28,Arizona,12902.560140,111,33.0,86584.0,54,2,$532.80

In [130]:
# will show the type of each column
df.dtypes

State                             object
Customer Lifetime Value          float64
Monthly Premium Auto               int64
Months Since Last Claim          float64
Income                           float64
Months Since Policy Inception      int64
Number of Policies                 int64
Total Claim Amount                object
dtype: object

In [131]:
#show the name of the columns

df.columns

Index(['State', 'Customer Lifetime Value', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Income', 'Months Since Policy Inception',
       'Number of Policies', 'Total Claim Amount'],
      dtype='object')

In [132]:
#will show the index range

df.index

RangeIndex(start=0, stop=29, step=1)

In [133]:
df.describe()

,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies
count,29.000000,29.000000,27.000000,22.000000,29.000000,29.000000
mean,7314.731596,86.689655,18.037037,48385.454545,37.931034,3.310345
std,5443.432115,20.567143,8.428347,28565.125137,29.977290,2.752965
min,2392.107890,61.000000,4.000000,10511.000000,1.000000,1.000000
25%,3945.241604,70.000000,12.000000,24711.500000,7.000000,1.000000
50%,5802.065978,74.000000,15.000000,49957.500000,42.000000,2.000000
75%,8197.197078,106.000000,23.000000,65330.500000,59.000000,4.000000
max,24127.504020,139.000000,33.000000,99845.000000,94.000000,9.000000

In [134]:
#will show the info of each column

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          29 non-null     object
 1   Customer Lifetime Value        29 non-null     float64
 2   Monthly Premium Auto           29 non-null     int64
 3   Months Since Last Claim        27 non-null     float64
 4   Income                         22 non-null     float64
 5   Months Since Policy Inception  29 non-null     int64
 6   Number of Policies             29 non-null     int64
 7   Total Claim Amount             29 non-null     object
dtypes: float64(3), int64(3), object(2)
memory usage: 1.9+ KB

In [135]:
#Mean function give the average of numerical columns:

df.mean()

Customer Lifetime Value           7314.731596
Monthly Premium Auto                86.689655
Months Since Last Claim             18.037037
Income                           48385.454545
Months Since Policy Inception       37.931034
Number of Policies                   3.310345
dtype: float64

In [136]:
##grouping data using groupby
df.groupby(["State"]).mean()

,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies
State,,,,,,
Arizona,12008.943862,97.400000,20.500000,66833.666667,38.400000,4.800000
California,5912.402025,93.000000,18.444444,54716.000000,51.888889,3.333333
Nevada,5968.163490,82.666667,12.000000,36908.000000,29.666667,1.333333
Oregon,8375.058536,72.750000,16.857143,49021.625000,23.750000,4.250000
Washington,3491.479998,90.000000,21.250000,31102.500000,40.500000,1.000000

In [137]:
df["Number of Policies"].sum()

96

In [138]:
pd.crosstab(df.State, df.Income)

Income,10511.0,13789.0,14072.0,17870.0,24599.0,25049.0,28812.0,28855.0,43836.0,48767.0,...,55350.0,56274.0,57749.0,62902.0,66140.0,77026.0,83689.0,86584.0,97541.0,99845.0
State,,,,,,,,,,,,,,,,,,,,,
Arizona,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
California,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,1,1,0,0,0
Nevada,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Oregon,0,0,1,0,1,0,1,0,0,0,...,1,0,1,1,0,0,0,0,1,0
Washington,1,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [139]:
#Manipulating Data
df["State"]=df["State"].str.lower()
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount
0,washington,2763.519279,69,32.0,56274.0,5,1,$384.81
1,arizona,6979.535903,94,13.0,NaN,42,8,"$1,131.46"
2,nevada,12887.431650,108,18.0,48767.0,38,2,$566.47
3,california,7645.861827,106,18.0,NaN,65,7,$529.88
4,washington,2813.692575,73,12.0,43836.0,44,1,$138.13
5,oregon,8256.297800,69,14.0,62902.0,94,2,$159.38
6,oregon,5380.898636,67,NaN,55350.0,13,9,$321.60
7,arizona,7216.100311,101,NaN,NaN,68,4,$363.03
8,oregon,24127.504020,71,13.0,14072.0,3,2,$511.20
9,oregon,7388.178085,93,17.0,28812.0,7,8,$425.53
10,california,4738.992022,67,23.0,NaN,5,3,$482.40
11,california,8197.197078,110,27.0,NaN,87,3,$528
12,california,8798.797003,110,9.0,77026.0,82,3,$472.03
13,arizona,8819.018934,110,23.0,99845.0,25,8,$528
14,california,5384.431665,70,21.0,83689.0,10,8,$307.14
15,oregon,7463.139377,64,12.0,24599.0,50,2,$42.92
16,nevada,2566.867823,67,14.0,25049.0,7,1,$454.25
17,california,3945.241604,101,12.0,28855.0,59,1,$647.44
18,oregon,5710.333115,72,9.0,51148.0,1,7,$308.98
19,california,8162.617053,101,11.0,66140.0,21,3,$484.80
20,oregon,2872.051273,74,31.0,57749.0,21,1,$355.20
21,washington,3041.791561,79,8.0,13789.0,49,1,$379.20
22,arizona,24127.504020,71,13.0,14072.0,3,2,$511.20
23,nevada,2450.190996,73,4.0,NaN,44,1,$554.38
24,california,2392.107890,61,30.0,17870.0,91,1,$439.20
25,oregon,5802.065978,72,22.0,97541.0,1,3,$389.19
26,california,3946.372085,111,15.0,NaN,47,1,$799.20
27,washington,5346.916576,139,33.0,10511.0,64,1,$516.24
28,arizona,12902.560140,111,33.0,86584.0,54,2,$532.80

In [140]:
##filling the missing data
df["Months Since Last Claim"].fillna(df["Months Since Last Claim"].mean(),inplace=True)
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount
0,washington,2763.519279,69,32.000000,56274.0,5,1,$384.81
1,arizona,6979.535903,94,13.000000,NaN,42,8,"$1,131.46"
2,nevada,12887.431650,108,18.000000,48767.0,38,2,$566.47
3,california,7645.861827,106,18.000000,NaN,65,7,$529.88
4,washington,2813.692575,73,12.000000,43836.0,44,1,$138.13
5,oregon,8256.297800,69,14.000000,62902.0,94,2,$159.38
6,oregon,5380.898636,67,18.037037,55350.0,13,9,$321.60
7,arizona,7216.100311,101,18.037037,NaN,68,4,$363.03
8,oregon,24127.504020,71,13.000000,14072.0,3,2,$511.20
9,oregon,7388.178085,93,17.000000,28812.0,7,8,$425.53
10,california,4738.992022,67,23.000000,NaN,5,3,$482.40
11,california,8197.197078,110,27.000000,NaN,87,3,$528
12,california,8798.797003,110,9.000000,77026.0,82,3,$472.03
13,arizona,8819.018934,110,23.000000,99845.0,25,8,$528
14,california,5384.431665,70,21.000000,83689.0,10,8,$307.14
15,oregon,7463.139377,64,12.000000,24599.0,50,2,$42.92
16,nevada,2566.867823,67,14.000000,25049.0,7,1,$454.25
17,california,3945.241604,101,12.000000,28855.0,59,1,$647.44
18,oregon,5710.333115,72,9.000000,51148.0,1,7,$308.98
19,california,8162.617053,101,11.000000,66140.0,21,3,$484.80
20,oregon,2872.051273,74,31.000000,57749.0,21,1,$355.20
21,washington,3041.791561,79,8.000000,13789.0,49,1,$379.20
22,arizona,24127.504020,71,13.000000,14072.0,3,2,$511.20
23,nevada,2450.190996,73,4.000000,NaN,44,1,$554.38
24,california,2392.107890,61,30.000000,17870.0,91,1,$439.20
25,oregon,5802.065978,72,22.000000,97541.0,1,3,$389.19
26,california,3946.372085,111,15.000000,NaN,47,1,$799.20
27,washington,5346.916576,139,33.000000,10511.0,64,1,$516.24
28,arizona,12902.560140,111,33.000000,86584.0,54,2,$532.80

In [141]:
##filling the missing data
df["Income"].fillna(df["Income"].mean(),inplace=True)
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46"
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80

In [142]:
#Creating a new column using the existing data
Number_of_Open_Complaints=pd.Series([2,0,1,2,4,1,0,3,5,2,2,0,0,1,2,0,3,3,5,2,0,3,1])
df["Complaints"]=Number_of_Open_Complaints
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,NaN
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,NaN
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,NaN
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,NaN
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,NaN
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,NaN

In [143]:
df["Complaints"].fillna(2,inplace=True)
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0

In [144]:
#creating a column using python list
Customer_Gender=['F','F','M','F','M','M','M','M','F','F','M','M','M','M','F','F','F','M','M','M','M','M','M','F','F','F','F','M','M']
df["Gender"]=Customer_Gender
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M

In [145]:
#Removing a column
df.drop("Gender",axis=1)

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0

In [146]:
df

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M

In [147]:
#Randomize/sampling the data
df_shuffled=df.sample(frac=1)
df_shuffled

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F

In [148]:
#showing only 20% of data
df_shuffled.sample(frac=0.2)

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M

In [149]:
# reset the shuffled index

df_shuffled.reset_index(inplace=True)
df_shuffled

,index,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
0,18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
1,17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
2,8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
3,2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
4,9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
5,15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
6,7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
7,10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
8,25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
9,0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
10,21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
11,16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
12,19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
13,26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
14,11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
15,5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
16,22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
17,13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
18,28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M
19,23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
20,6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
21,14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
22,24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
23,12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
24,3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
25,4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
26,27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
27,20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
28,1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F

In [150]:
# Selecting DataFrame Row

df.loc[20] # showing the data of index 20

State                              oregon
Customer Lifetime Value           2872.05
Monthly Premium Auto                   74
Months Since Last Claim                31
Income                              57749
Months Since Policy Inception          21
Number of Policies                      1
Total Claim Amount               $355.20
Complaints                              0
Gender                                  M
Name: 20, dtype: object

In [151]:
df.loc[[16,17,21,25,28]] # showing the data of 16,9 row wise

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
16,nevada,2566.867823,67,14.0,25049.0,7,1,$454.25,3.0,F
17,california,3945.241604,101,12.0,28855.0,59,1,$647.44,3.0,M
21,washington,3041.791561,79,8.0,13789.0,49,1,$379.20,3.0,M
25,oregon,5802.065978,72,22.0,97541.0,1,3,$389.19,2.0,F
28,arizona,12902.560140,111,33.0,86584.0,54,2,$532.80,2.0,M

In [152]:
# showing data in range

df.loc[7:15:2]

,State,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F

In [153]:
#renaming columns
df=df.rename(columns={'Monthly Premium Auto': 'Monthly Premium'})
df

,State,Customer Lifetime Value,Monthly Premium,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M

In [154]:
df[df["Monthly Premium"]>100]

,State,Customer Lifetime Value,Monthly Premium,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M

In [155]:
#checking and cleaning duplicates

df.duplicated()#check duplicates

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
dtype: bool

In [156]:
# if there is duplicates, then remove it

df.drop_duplicates(inplace=True)
df

,State,Customer Lifetime Value,Monthly Premium,Months Since Last Claim,Income,Months Since Policy Inception,Number of Policies,Total Claim Amount,Complaints,Gender
0,washington,2763.519279,69,32.000000,56274.000000,5,1,$384.81,2.0,F
1,arizona,6979.535903,94,13.000000,48385.454545,42,8,"$1,131.46",0.0,F
2,nevada,12887.431650,108,18.000000,48767.000000,38,2,$566.47,1.0,M
3,california,7645.861827,106,18.000000,48385.454545,65,7,$529.88,2.0,F
4,washington,2813.692575,73,12.000000,43836.000000,44,1,$138.13,4.0,M
5,oregon,8256.297800,69,14.000000,62902.000000,94,2,$159.38,1.0,M
6,oregon,5380.898636,67,18.037037,55350.000000,13,9,$321.60,0.0,M
7,arizona,7216.100311,101,18.037037,48385.454545,68,4,$363.03,3.0,M
8,oregon,24127.504020,71,13.000000,14072.000000,3,2,$511.20,5.0,F
9,oregon,7388.178085,93,17.000000,28812.000000,7,8,$425.53,2.0,F
10,california,4738.992022,67,23.000000,48385.454545,5,3,$482.40,2.0,M
11,california,8197.197078,110,27.000000,48385.454545,87,3,$528,0.0,M
12,california,8798.797003,110,9.000000,77026.000000,82,3,$472.03,0.0,M
13,arizona,8819.018934,110,23.000000,99845.000000,25,8,$528,1.0,M
14,california,5384.431665,70,21.000000,83689.000000,10,8,$307.14,2.0,F
15,oregon,7463.139377,64,12.000000,24599.000000,50,2,$42.92,0.0,F
16,nevada,2566.867823,67,14.000000,25049.000000,7,1,$454.25,3.0,F
17,california,3945.241604,101,12.000000,28855.000000,59,1,$647.44,3.0,M
18,oregon,5710.333115,72,9.000000,51148.000000,1,7,$308.98,5.0,M
19,california,8162.617053,101,11.000000,66140.000000,21,3,$484.80,2.0,M
20,oregon,2872.051273,74,31.000000,57749.000000,21,1,$355.20,0.0,M
21,washington,3041.791561,79,8.000000,13789.000000,49,1,$379.20,3.0,M
22,arizona,24127.504020,71,13.000000,14072.000000,3,2,$511.20,1.0,M
23,nevada,2450.190996,73,4.000000,48385.454545,44,1,$554.38,2.0,F
24,california,2392.107890,61,30.000000,17870.000000,91,1,$439.20,2.0,F
25,oregon,5802.065978,72,22.000000,97541.000000,1,3,$389.19,2.0,F
26,california,3946.372085,111,15.000000,48385.454545,47,1,$799.20,2.0,F
27,washington,5346.916576,139,33.000000,10511.000000,64,1,$516.24,2.0,M
28,arizona,12902.560140,111,33.000000,86584.000000,54,2,$532.80,2.0,M

In [157]:
#converting the data frame into csv file

df.to_csv('Customer_data_updated.csv')